<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.virlearning.dao.CaseMapper">
    <resultMap id="BaseResultMap" type="com.example.virlearning.entity.Case">
        <id column="case_id" jdbcType="BIGINT" />
        <result column="name" jdbcType="VARCHAR" />
        <result column="symptom" jdbcType="VARCHAR" />
        <result column="animal" jdbcType="VARCHAR" />
        <result column="jzword" jdbcType="VARCHAR" />
        <result column="jzphoto" jdbcType="VARCHAR" />
        <result column="jzvideo" jdbcType="VARCHAR" />
        <result column="jcword" jdbcType="VARCHAR" />
        <result column="jcphoto" jdbcType="VARCHAR" />
        <result column="jcvideo" jdbcType="VARCHAR" />
        <result column="zdword" jdbcType="VARCHAR" />
        <result column="zdphoto" jdbcType="VARCHAR" />
        <result column="zdvideo" jdbcType="VARCHAR" />
        <result column="zlword" jdbcType="VARCHAR" />
        <result column="zlphoto" jdbcType="VARCHAR" />
        <result column="zlvideo" jdbcType="VARCHAR" />

    </resultMap>
    <sql id="Base_Column_List">
        case_id, `name`, symptom, animal, jzword, jzphoto,jzvideo,jcword,jcphoto,jcvideo,zdword,zdphoto,zdvideo,
    zlword, zlphoto,zlvideo
    </sql>
    <insert id="insert" >
        insert into  `case`(
            name, symptom, animal,jzword,jcword,zdword,zlword,jzphoto,jzvideo,jcphoto,jcvideo,zdphoto,zdvideo,zlphoto,zlvideo
        ) values(           #{name},#{symptom}, #{animal},#{jzword},#{jcword},#{zdword},#{zlword},#{jzphoto},#{jzvideo},#{jcphoto},#{jcvideo},#{zdphoto},#{zdvideo},#{zlphoto},#{zlvideo} )
    </insert>
    <!-- 根据条件查询病例总条数 -->
    <!-- Integer selectCountCase(Map<String,Object> map); -->
    <select id="CountCase" resultType="long">
        select count(*)
        from `case` where is_delete != 1
        <if test="name != '' and name != null" >
            and `name` like '$%{name}%'
        </if>

    </select>

    <!-- 根据id查询病例全部数据 -->
    <!--  Case findId(Integer id); -->
    <select id="findId" resultType="com.example.virlearning.entity.Case">
        select
        <include refid="Base_Column_List"/>
        from `case`
        where case_id=#{id}
    </select>
    <update id="deleteIdCase">
        update `case` set
                          is_delete=#{isDelete}
        where case_id =#{id}
    </update>
    <!-- 修改药品数据 -->
    <!--Integer updateIdCase(Case record); -->
    <update id="updateIdCase" >
        update `case` set
                          name=#{name}, symptom=#{symptom},
                          animal=#{animal},jzword=#{jzword},jcword=#{jcword},zdword=#{zdword},zlword=#{zlword}
        where case_id=#{case_id} and is_delete != 1
    </update>
    <!-- 查询总数-->
    <select id="getTotalCases" parameterType="Map" resultType="int">
        select count(*) from `case`
        where 1=1 and is_delete != 1
        <if test="loginName!=null and loginName!=''">
            and login_name = #{loginName}
        </if>
    </select>
    <!-- 病例列表-->
    <select id="findCaseList" resultType="com.example.virlearning.entity.Case">
        select
        <include refid="Base_Column_List"/>
        from `case`
        where 1=1 and is_delete != 1
        order by case_id
        <if test="start!=null and limit!=null">
            limit #{start},#{limit}
        </if>
    </select>
    <!-- 所有病例列表-->
    <select id="findall" resultType="com.example.virlearning.entity.Case">
        select
        <include refid="Base_Column_List"/>
        from `case`
        where 1=1 and is_delete != 1
        order by case_id

    </select>
    <update id="insertfile1">
        update  `Case`
        <set>
            jzphoto= #{url}
        </set>
        WHERE case_id = #{id}
    </update>
    <update id="insertfile2">
        update  `Case`
        <set>
            jzphoto= #{url}
        </set>
        WHERE case_id = #{id}
    </update>
    <update id="insertfile3">
        update  `Case`
        <set>
            jzphoto= #{url}
        </set>
        WHERE case_id = #{id}
    </update>
    <update id="insertfile4">
        update  `Case`
        <set>
            jzphoto= #{url}
        </set>
        WHERE case_id = #{id}
    </update>
    <update id="insertfile5">
        update  `Case`
        <set>
            jzphoto= #{url}
        </set>
        WHERE case_id = #{id}
    </update>
    <update id="insertfile6">
        update  `Case`
        <set>
            jzphoto= #{url}
        </set>
        WHERE case_id = #{id}
    </update>
    <update id="insertfile7">
        update  `Case`
        <set>
            jzphoto= #{url}
        </set>
        WHERE case_id = #{id}
    </update>
    <update id="insertfile8">
        update  `Case`
        <set>
            jzphoto= #{url}
        </set>
        WHERE case_id = #{id}
    </update>

</mapper>