<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.virlearning.dao.CaseMapper">
    <resultMap id="BaseResultMap" type="com.example.virlearning.entity.Case">
        <id column="case_id" jdbcType="BIGINT" property="caseId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="symptom" jdbcType="VARCHAR" property="symptom"/>
        <result column="animal" jdbcType="VARCHAR" property="animal"/>
        <result column="cure_method" jdbcType="VARCHAR" property="cureMethod"/>
        <result column="upload_user" jdbcType="TINYINT" property="uploadUser"/>
        <result column="time" jdbcType="TIMESTAMP" property="time"/>
    </resultMap>










</mapper>