<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.virlearning.dao.PaperMapper">
    <resultMap id="paperMap" type="com.example.virlearning.entity.Paper">
        <id column="id" property="paperId" />
        <id column="total_num" property="totalNum" />
        <id column="total_score" property="totalScore"/>
    </resultMap>

    <select id="getfindbyName" resultMap="paperMap" resultType="com.example.virlearning.entity.Paper">
        select * from paper
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{ name }, '%')
            </if>
        </where>
    </select>

    <insert id="insertPaper">
        insert into paper(
            name)
        values(#{name})
    </insert>

    <delete id="deletePaper">
        DELETE FROM paper
        WHERE id = #{paperId}
    </delete>
    <delete id="deleteAllPaperQuestion">
        delete from paper_question
        where paper_id = #{paperId}
    </delete>
    <select id="countPaperInExam">
        select count(*)
        from exam
        where paper_id = #{paperId}
    </select>

    <update id="modifyPaper">
        update paper
        <set >
            <if test="name != null and name != ''" >
                name = #{name}
            </if>

        </set>
        where id=#{paperId}
    </update>

    <select id="getPaperInf" resultType="com.example.virlearning.entity.Question">
        SELECT q.*
        FROM question q
                 JOIN paper_question pq ON q.id = pq.question_id
        WHERE pq.paper_id = #{paperId}
        ORDER BY pq.question_in_paper_id;
    </select>

    <select id="getPaperQuestionScoreList" resultType="int">
        SELECT question_score
        from paper_question
        where paper_id = #{paperId}
        ORDER BY question_in_paper_id;
    </select>

    <select id="getPaperTotal">
        select total_num
        from paper
        where id = #{paperId}
    </select>

    <select id="getPaperTotalScore">
        select total_score
        from paper
        where id = #{paperId}
    </select>

    <!--先查试卷中题目题号的最大值，加一作为新添加题目的题号-->
    <!--    <insert id="insertPaperQuestion">-->
    <!--&#45;&#45;         SET @num = COALESCE((-->
    <!--&#45;&#45;             SELECT MAX(question_in_paper_id)-->
    <!--&#45;&#45;             FROM paper_question-->
    <!--&#45;&#45;             WHERE paper_id = #{paper.paperId}-->
    <!--&#45;&#45;         ), 0);-->

    <!--        INSERT INTO paper_question (paper_id, question_id, question_in_paper_id)-->
    <!--        VALUES (#{paperId, jdbcType=INTEGER}, #{questionId, jdbcType=INTEGER}, #{totalNum});-->
    <!--    </insert>-->
    <insert id="insertPaperQuestion">
        insert into paper_question(paper_id,question_id,question_in_paper_id,question_score)
        values(#{paperId}, #{questionId},#{totalNum}+1,#{pqScore})
    </insert>

    <update id="updateTotalNum">
        update paper
        set total_num = #{totalNum}
        where id = #{paperId}
    </update>

    <update id="updateTotalScore">
        update paper
        set total_score = #{totalScore}
        where id = #{paperId}
    </update>

    <!-- 删除指定题目 -->
    <delete id="deletePaperQuestion" parameterType="com.example.virlearning.entity.Paper">
        DELETE from paper_question
        WHERE paper_id = #{paper.paperId} AND question_id = #{question.id};
    </delete>

    <!-- 更新后续题目的题号 -->
    <update id="updateQuestionIds" parameterType="com.example.virlearning.entity.Paper">
        UPDATE paper_question AS pq1
            INNER JOIN (
            SELECT paper_id, question_in_paper_id
            FROM paper_question
            WHERE paper_id = #{paper.paperId} AND question_id = #{question.id}
            ) AS pq2
        ON pq1.paper_id = pq2.paper_id
            AND pq1.question_in_paper_id > pq2.question_in_paper_id
            SET pq1.question_in_paper_id = pq1.question_in_paper_id - 1;
    </update>

    <select id="findPaperList" resultMap="paperMap" resultType="com.example.virlearning.entity.Paper">
        select
        *
        from  paper
        where 1=1
        <if test="start!=null and limit!=null">
            limit #{start},#{limit}
        </if>
    </select>
    <select id="getTotalPaper" resultType="int">
        select count(*) from paper
        where 1=1

    </select>
    <select id="findPaperQuestionList" resultType="com.example.virlearning.entity.Question">
        SELECT q.*
        FROM question q
        JOIN paper_question pq ON q.id = pq.question_id
        WHERE pq.paper_id = #{paperId}
        ORDER BY pq.question_in_paper_id;
        <if test="type != null and type != ''">
            and type like concat('%', #{ type }, '%')
        </if>
        <if test="description != null and description != ''">
            and description like concat('%', #{ description }, '%')
        </if>
        <if test="pageUtil.start!=null and pageUtil.start!='' and pageUtil.limit!=null and pageUtil.limit!=''">
            limit #{pageUtil.start},#{pageUtil.limit}
        </if>
    </select>
    <select id="getTotalPaperQuestion" resultType="int">
        select count(*)
        FROM question q
        WHERE q.id IN (SELECT pq.question_id
        FROM paper_question pq
        WHERE pq.paper_id = #{paperId})
        <if test="type != null and type != ''">
            and type like concat('%', #{ type }, '%')
        </if>
        <if test="description != null and description != ''">
            and description like concat('%', #{ description }, '%')
        </if>
    </select>

    <select id="findNoPaperQuestionList" resultType="com.example.virlearning.entity.Question">
        SELECT *
        FROM question q
        WHERE q.id  not IN (SELECT pq.question_id
        FROM paper_question pq
        WHERE pq.paper_id = #{paperId})
        <if test="type != null and type != ''">
            and type like concat('%', #{ type }, '%')
        </if>
        <if test="description != null and description != ''">
            and description like concat('%', #{ description }, '%')
        </if>
        <if test="pageUtil.start!=null and pageUtil.start!='' and pageUtil.limit!=null and pageUtil.limit!=''">
            limit #{pageUtil.start},#{pageUtil.limit}
        </if>
    </select>
    <select id="getNoTotalPaperQuestion" resultType="int">
        SELECT count(*)
        FROM question q
        WHERE q.id  not IN (SELECT pq.question_id
        FROM paper_question pq
        WHERE pq.paper_id = #{paperId})
        <if test="type != null and type != ''">
            and type like concat('%', #{ type }, '%')
        </if>
        <if test="description != null and description != ''">
            and description like concat('%', #{ description }, '%')
        </if>
    </select>
    <select id="getTotalQuestion">
        select count(*) from question
    </select>
    <select id="getPaperQuestionScore">
        select question_score
        from paper_question
        where paper_id = #{paperId} and question_id = #{questionId}
    </select>

</mapper>