<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.virlearning.dao.QuestionMapper">
    <insert id="addQuestion" parameterType="com.example.virlearning.model.param.QuestionAddParam">
        insert into question(
            description,
            option_a,
            option_b,
            option_c,
            option_d,
            answer
        )values (
            #{description},
            #{optionA},
            #{optionB},
            #{optionC},
            #{optionD},
            #{answer}
        )
    </insert>

    <delete id="deleteQuestionById">
        update question set is_deleted=1 where is_deleted = #{questionId}
    </delete>

    <resultMap id="BaseResultMap1" type="com.example.virlearning.entity.Question">
        <result column="description" jdbcType="LONGVARCHAR" property="description"/>
        <result column="option_a" jdbcType="VARCHAR" property="optionA"/>
        <result column="option_b" jdbcType="VARCHAR" property="optionB"/>
        <result column="option_c" jdbcType="VARCHAR" property="optionC"/>
        <result column="option_d" jdbcType="VARCHAR" property="optionD"/>
        <result column="answer" jdbcType="VARCHAR" property="answer"/>
        <result column="is_deleted" jdbcType="BIT" property="is_deleted"/>
    </resultMap>
    <sql id="Base_Column_List1">
        description,
            option_a,
            option_b,
            option_c,
            option_d,
            answer,
            is_deleted
    </sql>

    <select id="getTotalUsers" parameterType="Map" resultType="int">
        select count(*) from question
        where 1=1
        <if test="description!=null and description!='' ">
            and description LIKE CONCAT('%',#{description},'%')
        </if>
    </select>

    <select id="findQuestionsByPage" parameterType="Map" resultMap="BaseResultMap1">
        select
        <include refid="Base_Column_List1"/>
        from question
        where 1=1
        <if test="description!=null and description!='' ">
            and description LIKE CONCAT('%',#{description},'%')
        </if>
    </select>

</mapper>